
// Project colours to Mark separate projects
$flat-turquoise: #1abc9c;
$flat-emerald: #1abc9c;
$flat-orange: #e67e22;
$flat-yellow: #f39c12;
$flat-blue: #2980b9;
$flat-purple: #9b59b6;
$flat-grey: #95a5a6;


body {
    background-color: $flat-blue;
    color: #fff;
    font-family: Verdana, Geneva, sans-serif;
}

h1 {
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26px;
}

p,
h1,
h2 {
    text-align: center;
}

html,
.wrapper {
    height: 100%;
}

.wrapper {
    margin: 10% 20%;
}


footer {
    bottom: 0;
    color: #eee;
    font-size: 11px;
    padding: 10px;
    position: fixed;
    text-align: center;

    a {
        color: #eee;
    }
}
